body {
  font-family: 'Roboto', sans-serif, 'Raleway';
  background: #ffffff;
  color: #212121;
  width: 1600px;
}
/* header */
.header {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  margin-bottom: 94px;
}
ul {
  list-style: none;
  /* logo */
}
.logo {
  position: absolute;
  width: 145px;
  height: 31px;
  margin-left: 215px;
  top: 24px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: black;
}
.logo-color {
  color: #2196f3;
}
a {
  text-decoration: none;
}
/* navigation */
.nav-list-all {
  display: flex;
  flex-direction: row;
}
.nav-list-one {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
  color: #000;
}
.nav-list-two {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;
  color: #000;
}
.nav-list-three {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;
  color: #000;
}
.nav-list-one:hover {
  color: #2196f3;
}
.nav-list-one:active {
}
.nav-list-one:focus {
}
.nav-list-two:hover {
  color: #2196f3;
}
.nav-list-two:focus {
}
.nav-list-three:hover {
  color: #2196f3;
}
.nav-list-three:focus {
}
/* contacts section */
.contacts {
  display: flex;
  flex-direction: row;
}
.mail {
  position: absolute;

  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  color: #757575;
}
.mail:hover {
  color: #2196f3;
}
.mail:focus {
}
.mail:active {
}
.phone {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
  color: #757575;
}
.phone:hover {
  color: #2196f3;
}
.phone:focus {
}
/* ==========section hero========== */
.hero {
  background-color: #2f303a;
  margin-bottom: 94px;
}
.hero-name {
  width: 696px;
  height: 120px;
  padding: 200px 452px 15px 452px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  color: #fff;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-hero {
  margin: 15px 700px 200px 700px;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}
/* наши сильные стороны */
.our-power-sides {
  margin-bottom: 94px;
}
.about-us {
  display: flex;
  flex-direction: row;
  padding-left: 215px;
  padding-right: 215px;
}
.our-power-side {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text {
  width: 270px;
  height: 75px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
/* чем мы занимаемся */

.we-are-do {
  width: 376px;
  height: 42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  margin: 0px 612px 50px 612px;
  color: #212121;
}
.what-we-do {
  display: flex;
  flex-direction: row;
  padding-left: 215px;
  margin-bottom: 94;
}
.img-one {
  left: 215px;
  top: 1061px;
  padding-right: 30px;
  margin-bottom: 94;
}
.img-two {
  left: 615px;
  top: 1061px;
  padding-right: 30px;
  margin-bottom: 94;
}
.img-three {
  left: 1015px;
  top: 1061px;
  margin-bottom: 94;
}
/* наша команда */
.our-team-name {
  width: 376px;
  height: 42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  margin: 94px 612px 50px 612px;
  color: #212121;
}
.our-team {
  display: flex;
  flex-direction: row;
  padding-left: 215px;
}
.agent-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.agent-prof {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
.card-agent {
  margin-right: 30px;
}

/* footer */
.footer {
  background-color: #2f303a;
}
.logo-footer {
  width: 145px;
  height: 31px;
  margin-bottom: 20px;
  top: 2157px;
  padding-left: 215px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: #fff;
}
.address {
  padding-left: 215px;
}
.address-fact {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2208px;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1, 71;
  margin-bottom: 9px;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.mail-footer {
  color: rgba(255, 255, 255, 0.6);
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2238px;
  margin-bottom: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
}
.tel-footer {
  color: rgba(255, 255, 255, 0.6);
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2238px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
}
/* ==================portfolio=================== */
.section-conteiner {
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  width: 1600px;
}

.buton-list {
  display: flex;
  flex-direction: row;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-portf {
  background-color: #f5f4fa;
  margin-right: 30px;
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.button-portf:active {
  background-color: #2196f3;
  color: #fff;
}
.button-portf:focus {
}
.name-img {
  width: 322px;
  height: 36px;
  left: 639px;
  top: 576px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}
.all-section-port {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 185px;
}
.img-card-block {
  margin-right: 30px;
}
